@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Cairo:wght@200;300;400;600&family=Yellowtail&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.header {
  background-image: linear-gradient(to right bottom, rgba(100, 177, 207, 0.6), #406fb6);
  min-height: 80vh;
  padding-top: 5rem;
  position: relative;
  padding-bottom: 15rem; }
  .header__headline {
    text-align: center;
    font-weight: 500;
    color: #e6e3e3;
    letter-spacing: 0.8rem;
    padding: 8rem 8rem 0 8rem;
    width: 50%;
    margin: 0 auto; }
  .header__subheadline {
    text-align: center;
    color: #e6e3e3;
    font-family: "Yellowtail", cursive;
    font-size: 3rem;
    letter-spacing: 0.3rem; }
  .header__button {
    background-color: transparent;
    color: #e6e3e3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    border: none;
    padding: 1.2rem 2rem;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 2rem;
    position: absolute;
    bottom: 15rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s; }
    .header__button:hover {
      letter-spacing: 0.5rem; }
    .header__button:focus {
      outline: none;
      letter-spacing: 0.2rem; }

body {
  background-image: url(../img/snow-covered-mountain-during-sunrise.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw; }

.about {
  background-color: white;
  transform: skewY(-5deg);
  margin-top: -8rem;
  padding: 10rem 2rem; }
  .about__container {
    transform: skewY(5deg);
    margin-top: 4rem;
    padding: 4rem;
    position: relative; }
  .about__headline {
    margin-top: -6rem;
    margin-bottom: 8rem;
    text-align: center; }
  .about__button {
    background-color: transparent;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    border: none;
    padding: 1.2rem 2rem;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 2rem;
    transition: all 0.5s;
    position: absolute;
    left: 50%;
    bottom: -4rem;
    transform: translateX(-50%); }
    .about__button:hover {
      letter-spacing: 0.5rem;
      color: #404040; }
    .about__button:focus {
      outline: none;
      letter-spacing: 0.2rem; }

.figure {
  width: 30%;
  float: right;
  margin: 2rem 6rem 5rem 6rem; }
  .figure__image {
    width: 100%; }
  .figure__caption {
    color: grey; }

body {
  font-size: 1.4rem;
  font-family: "Cairo", sans-serif; }

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 6.5rem;
  font-family: "Alegreya Sans SC", sans-serif; }

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;
  font-size: 4rem; }

h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 1rem 0; }

h4 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase; }

h5 {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase; }

p {
  font-size: 1.6rem;
  padding: 1rem;
  line-height: 1.5; }
