html {
  background-color: lighten($color-white-dark, 5%);
}

body {
  max-width: 140rem;
  margin: 0 auto;
  min-height: 90vh;
  background-color: $color-white-dark;
  padding: 3rem 1rem 1rem 1rem;
}

.main {
  display: flex;
  padding: 2rem;
}
