body {
  background-image: url(../img/snow-covered-mountain-during-sunrise.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

// main {
//   background-image: linear-gradient(to right bottom, rgba(100, 177, 207, 0.6), rgba(64, 111, 182, 0.8));
//   background-size: cover;
// }
